<div class="home text-center">
  <div class="row logo">
    <%= image_tag "home/logo.png" %>
  </div>
  <div class="row intro">
    <%= image_tag "home/intro.png" %>
  </div>
  <div class="row install">
    <%= link_to 'https://itunes.apple.com/cn/app/lu-ke-chu-cha-lu-xing-lu-you/id1054431516?mt=8' do %>
      <%= image_tag "home/install.png" %>
    <% end %>
  </div>

  <div class="row wechat">
    <%= image_tag "home/wechat.png" %>
  </div>

  <div class="row weibo">
    <%= image_tag "home/weibo.png" %>
  </div>

  <div class="row company">
    <%= image_tag "home/company.png" %>
  </div>

</div>