<div class="home text-center">
  <div class="row logo">
    <%= image_tag "home/logo.png" %>
  </div>
  <div class="row intro">
    <%= image_tag "home/intro.png" %>
  </div>
  <div class="row install">
    <%= link_to 'https://appsto.re/cn/CKv2-.i' do %>
      <%= image_tag "home/install.png" %>
    <% end %>
  </div>

  <% unless @is_safari %>
    <div class="row hint">
      <%= image_tag "home/safari_hint.png" %>
    </div>  
  <% end %>
  
  <div class="row social">
    <%= image_tag "home/social.png" %>
  </div>

  <div class="row company">
    <%= link_to "http://www.miitbeian.gov.cn/" do %>
      <%= image_tag "home/company.png" %>
    <% end %>
  </div>

</div>