<div class="home text-center">
  <div class="row logo">
    <%= image_tag "home/logo.png" %>
  </div>
  <div class="row intro">
    <%= image_tag "home/intro.png" %>
  </div>
  <div class="row install">
    <%= link_to 'https://appsto.re/cn/CKv2-.i' do %>
      <%= image_tag "home/install.png" %>
    <% end %>
  </div>

  <% unless @is_safari %>
    <div class="row hint">
      <%= image_tag "home/safari_hint.png" %>
    </div>  
  <% end %>
  
  <div class="row social">
    <%= image_tag "home/social.png" %>
  </div>

  <div class="row company">
    <%= link_to "http://www.miitbeian.gov.cn/" do %>
      <%= image_tag "home/company.png" %>
    <% end %>
  </div>

</div>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="application/javascript">
  wx.config({
    debug: false,
    appId: "wx413efe0aeecdc878",
    timestamp: '<%= @js_hash["timestamp"] %>',
    nonceStr: '<%= @js_hash["noncestr"] %>',
    signature: '<%= @js_hash["signature"] %>',
    jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage']
  });
</script>
<script type="application/javascript">
  wx.ready(function() {
    wx.onMenuShareTimeline({
      title:  '欢迎下载旅客App', // 分享标题
      link: 'http://www.lvkeapp.com', // 临时url
      imgUrl: 'http://www.lvkeapp.com/assets/home_0-0d3a28afe467a6a2712305aa0a86aa113cb6b8c701534680682530852bc16fb9.jpg', // 分享图标
      success: function () {
      },
      cancel: function () {
      }
    });

    wx.onMenuShareAppMessage({
      title: '欢迎下载旅客App', // 分享标题pp
      desc: '欢迎下载旅客App', // 分享标题
      link: 'http://www.lvkeapp.com', // 临时url
      imgUrl: 'http://www.lvkeapp.com/assets/home_0-0d3a28afe467a6a2712305aa0a86aa113cb6b8c701534680682530852bc16fb9.jpg', // 分享图标
      type: '', // 分享类型,music、video或link，不填默认为link
      dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () {
      },
      cancel: function () {
      }
    });
  });
  
</script>
